
.manage-product--addnew {
  font-size: 22px;
  margin: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: #d6e5fb;
  }
}

.management-product--actions-box {
  display: flex;
  justify-content: space-around;

  .management-product--btn-edit{
    padding: 4px 8px;
    outline: none;
    &:hover {
      cursor: pointer;
      color: rgb(42, 80, 42);
      background-color: rgb(159, 244, 159);

  }
  }
  .management-product--btn-delete {
    padding: 4px 8px;
    outline: none;
    &:hover {
      cursor: pointer;
      color: rgb(102, 98, 60);
      background-color: rgb(239, 202, 69);

  }
  }

}


.manage-header--title{
  .manage-header--title-item {
    background-color: #4b4b4b !important;

  }
}